<div class="ContentSideSections" id="PFTopLinksCover" style="height:30px;">
                <a href="#" id="openMenuBtn" class="">
                    <img alt="logo" src="showcase/resources/images/menuicon.svg">
                </a>
hola
 
                <a class="PFTopLinks floatRight" href="http://forum.primefaces.org/viewforum.php?f=35"><img alt="mockosx" src="showcase/resources/images/community.svg"><span class="PFDarkText">Forum</span></a>

                <span class="PFTopLinks floatRight cursorPointer" id="themeSwitcher">
                    <img src="showcase/resources/images/themeswitcher.svg"><span class="PFDarkText">Themes</span>
                    <div class="navOverlay" id="GlobalThemeSwitcher" style="margin-top: 10px; display: none;">
                        <span>Premium</span>
                        <a href="http://www.primefaces.org/layouts/ultima-ng"><span class="ui-text">Ultima</span></a>
                        <a href="http://www.primefaces.org/layouts/omega-ng"><span class="ui-text">Omega</span></a>
                        <span>Free</span>
                        <a data-theme="afterdark" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-afterdark"></span><span class="ui-text">Afterdark</span></a>
                        <a data-theme="afternoon" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-afternoon"></span><span class="ui-text">Afternoon</span></a>
                        <a data-theme="afterwork" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-afterwork"></span><span class="ui-text">Afterwork</span></a>
                        <a data-theme="aristo" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-aristo"></span><span class="ui-text">Aristo</span></a>
                        <a data-theme="black-tie" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-black-tie"></span><span class="ui-text">Black-Tie</span></a>
                        <a data-theme="bluesky" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-bluesky"></span><span class="ui-text">Bluesky</span></a>
                        <a data-theme="bootstrap" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-bootstrap"></span><span class="ui-text">Bootstrap</span></a>
                        <a data-theme="casablanca" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-casablanca"></span><span class="ui-text">Casablanca</span></a>
                        <a data-theme="cruze" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-cruze"></span><span class="ui-text">Cruze</span></a>
                        <a data-theme="dark-hive" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-dark-hive"></span><span class="ui-text">Dark-Hive</span></a>
                        <a data-theme="delta" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-delta"></span><span class="ui-text">Delta</span></a>
                        <a data-theme="dot-luv" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-dot-luv"></span><span class="ui-text">Dot-Lov</span></a>
                        <a data-theme="eggplant" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-eggplant"></span><span class="ui-text">Eggplant</span></a>
                        <a data-theme="excite-bike" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-excite-bike"></span><span class="ui-text">Excite-Bike</span></a>
                        <a data-theme="flick" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-flick"></span><span class="ui-text">Flick</span></a>
                        <a data-theme="glass-x" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-glass-x"></span><span class="ui-text">Glass-X</span></a>
                        <a data-theme="home" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-home"></span><span class="ui-text">Home</span></a>
                        <a data-theme="hot-sneaks" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-hot-sneaks"></span><span class="ui-text">Hot-Sneaks</span></a>
                        <a data-theme="humanity" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-humanity"></span><span class="ui-text">Humanity</span></a>
                        <a data-theme="le-frog" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-le-frog"></span><span class="ui-text">Le-Forg</span></a>
                        <a data-theme="midnight" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-midnight"></span><span class="ui-text">Midnight</span></a>
                        <a data-theme="mint-choc" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-mint-choc"></span><span class="ui-text">Mint-Choc</span></a>
                        <a data-theme="omega" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-omega"></span><span class="ui-text">Omega</span></a>
                        <a data-theme="overcast" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-overcast"></span><span class="ui-text">Overcast</span></a>
                        <a data-theme="pepper-grinder" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-pepper-grinder"></span><span class="ui-text">Pepper-Grinder</span></a>
                        <a data-theme="redmond" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-redmond"></span><span class="ui-text">Redmond</span></a>
                        <a data-theme="rocket" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-rocket"></span><span class="ui-text">Rocket</span></a>
                        <a data-theme="sam" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-sam"></span><span class="ui-text">Sam</span></a>
                        <a data-theme="smoothness" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-smoothness"></span><span class="ui-text">Smoothness</span></a>
                        <a data-theme="south-street" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-south-street"></span><span class="ui-text">South-Street</span></a>
                        <a data-theme="start" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-start"></span><span class="ui-text">Start</span></a>
                        <a data-theme="sunny" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-sunny"></span><span class="ui-text">Sunny</span></a>
                        <a data-theme="swanky-purse" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-swanky-purse"></span><span class="ui-text">Swanky-Purse</span></a>
                        <a data-theme="trontastic" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-trontastic"></span><span class="ui-text">Trontastic</span></a>
                        <a data-theme="ui-darkness" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-ui-darkness"></span><span class="ui-text">UI-Darkness</span></a>
                        <a data-theme="ui-lightness" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-ui-lightness"></span><span class="ui-text">UI-Lightness</span></a>
                        <a data-theme="vader" href="#" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-var"></span><span class="ui-text">Vader</span></a>
                    </div>
                </span>
                
                <a class="PFTopLinks floatRight hashed" href="#/setup"><img alt="mockosx" src="showcase/resources/images/setup.svg"><span class="PFDarkText">Setup</span></a>

                <div class="mobileLogoCover">
                    <img src="showcase/resources/images/primeng-sidebar.svg" style="height:30px;">
                </div>
            </div>
<md-sidenav-layout class="md-sidenav-layout">

  <md-sidenav  #start (open)="closeStartButton.focus()">
    Start Sidenav.
    <br>
    <button md-button #closeStartButton (click)="start.close()">Close</button>
  </md-sidenav>
  <md-sidenav #end align="end">
    End Sidenav.
    <button md-button (click)="end.close()">Close</button>
  </md-sidenav>

  My regular content. This will be moved into the proper DOM at runtime.
  <button md-button (click)="start.open()">Open start sidenav</button>
  <button md-button (click)="end.open()">Open end sidenav</button>

<br>

  <button md-button>FLAT</button>
  <button md-raised-button>RAISED</button>
  <button md-fab>
      <md-icon class="md-24">add</md-icon>
  </button>
  <button md-mini-fab>
      <md-icon class="md-24">add</md-icon>
  </button>

  <br>

  <h1>
    {{title}}
  </h1>

  <md-tab-group>
    <md-tab>
      <template md-tab-label>
        The <em>best</em> pasta
      </template>
      <h1>Best pasta restaurants</h1>
      <p>...</p>
    </md-tab>
    <md-tab>
      <template md-tab-label>
        <md-icon>thumb_down</md-icon> The worst sushi
      </template>
      <h1>Terrible sushi restaurants</h1>
      <p>...</p>
    </md-tab>
  </md-tab-group>

</md-sidenav-layout>

